body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Garante que o gradiente cubra toda a altura da tela */
    background: linear-gradient(to bottom, #2c3e50, #34495e); /* Gradiente escuro */
    font-family: 'Courier New', Courier, monospace;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 428px;
    background: #FFF;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 100px rgba(0, 0, 0, .5);
    transition: 1s;
}

.card:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 5px;
    background: #475b02;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card:after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #7ea301;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgbox {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
}

.card .detalhes {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}

/* Estilo quando a carta for aberta (classe active) */
.card.active {
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 20px 100px rgba(0, 0, 0, .5);
}

.card.active .imgbox {
    transform: rotateY(-135deg);
    /* Rotaciona a imagem ao abrir */
}

/* Estilo da animação de digitação */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.detais p {
    overflow: hidden;
    /* Esconde o texto que não foi "digitado" */
    white-space: nowrap;
    /* Impede quebra de linha */
    width: 0;
    /* Começa com o texto invisível */
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.detalhes {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
    height: calc(100% - 40px);
    /* Deixa espaço para o padding */
    overflow-y: auto;
    /* Adiciona rolagem vertical */
}

.detalhes p {
    overflow: hidden;
    /* Esconde o texto que não foi "digitado" */
    width: 100%;
    /* Ajusta a largura para o tamanho do contêiner */
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    /* Quebra as palavras se necessário */
}